@layer zui.components {
  @scope (.zui [data-zui="theme-toggle"]) {
    .root {
        .toggle-checkbox {
        display: none; /* Hide the default checkbox */
        }

        .toggle-label {
        cursor: pointer;
        width: 48px; /* Width of the switch track */
        height: 24px; /* Height of the switch track */
        background-color: var(--color-foreground-secondary); /* Default 'off' background color */
        border-radius: 34px; /* Rounded corners for the track */
        position: relative;
        display: block;
        transition: background-color 0.3s;
        }

        .toggle-label .toggle-switch {
        position: absolute;
        content: '';
        height: 20px; /* Size of the movable knob */
        width: 20px;
        left: 2px; /* Initial position when 'off' */
        bottom: 2px;
        background-color: var(--zui-bg);
        border-radius: 50%; /* Makes the knob a circle */
        transition: transform 0.3s;
        justify-items: center;
        }

        /* Move the knob to the right when the checkbox is checked (on) */
        .toggle-checkbox:checked + .toggle-label .toggle-switch {
        transform: translateX(24px); /* Move the knob by the track height - some padding */
        }

        /* Optional: Add focus styles for accessibility */
        .toggle-checkbox:focus + .toggle-label {
        box-shadow: 0 0 1px #2196F3;
        }

        .icon {
        position: absolute;
        width: 16px;
        height: 16px;
        transition: 0.3s;
        z-index: 1;
        align-self: anchor-center;
        }

        /* Icon Colors & Visibility */
        .sun { opacity: 1; }
        .moon { opacity: 0; }

        .toggle-checkbox:checked + .toggle-label .toggle-switch .sun { opacity: 0; }
        .toggle-checkbox:checked + .toggle-label .toggle-switch .moon { opacity: 1; }
    }
    .root:hover {
        cursor: pointer;
    }
  }
}
